@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-teKgSgtTMCxS: #486cd9;
  --plasmic-token-primary-base: var(--token-teKgSgtTMCxS);
  --token-1sNL1KVekYWE: #748bef;
  --plasmic-token-primary-light-1: var(--token-1sNL1KVekYWE);
  --token-kPSjK1Z-RLB1: #171717;
  --plasmic-token-text-base: var(--token-kPSjK1Z-RLB1);
  --token-z6PaTVl6tKwi: #2e2e2e;
  --plasmic-token-text-light-1: var(--token-z6PaTVl6tKwi);
  --token-7RacSZoE32lB: #454545;
  --plasmic-token-text-light-2: var(--token-7RacSZoE32lB);
  --token-72cvM4SyyDiW: #5d5d5d;
  --plasmic-token-text-light-3: var(--token-72cvM4SyyDiW);
  --token-e53Oc09j6Koo: #747474;
  --plasmic-token-text-light-4: var(--token-e53Oc09j6Koo);
  --token-4pdhK44DXL8e: #8b8b8b;
  --plasmic-token-text-light-5: var(--token-4pdhK44DXL8e);
  --token-yPNNZWEb2wHz: #a2a2a2;
  --plasmic-token-text-light-6: var(--token-yPNNZWEb2wHz);
  --token-Th33EnTCo9xn: #cccccc;
  --plasmic-token-grey-base: var(--token-Th33EnTCo9xn);
  --token-j7egHJXCNbo3: #d7d7d7;
  --plasmic-token-grey-light-1: var(--token-j7egHJXCNbo3);
  --token-SnfUGlIOPn--: #e2e2e2;
  --plasmic-token-grey-light-2: var(--token-SnfUGlIOPn--);
  --token-sKo7wOaGvSuq: #ededed;
  --plasmic-token-grey-light-3: var(--token-sKo7wOaGvSuq);
  --token-uBTlK4uSBATu: #f8f8f8;
  --plasmic-token-grey-light-4: var(--token-uBTlK4uSBATu);
  --token-Q19tPbe0aB9G: #fcfcfc;
  --plasmic-token-grey-light-5: var(--token-Q19tPbe0aB9G);
  --token-OR5PZOveEYCj: #fefefe;
  --plasmic-token-grey-light-6: var(--token-OR5PZOveEYCj);
  --token-lS87dCE9yYA-: #014714;
  --plasmic-token-success-dark-3: var(--token-lS87dCE9yYA-);
  --token-nsExuA54LNo9: #53ca74;
  --plasmic-token-success-light-1: var(--token-nsExuA54LNo9);
  --token-mEa68GCavaig: #fdf7f7;
  --plasmic-token-error-light-3-2: var(--token-mEa68GCavaig);
  --token-ILz86JPOOk25: var(--token-mEa68GCavaig);
  --plasmic-token-error-light-3: var(--token-ILz86JPOOk25);
  --token-MbnOSStnZDnT: #02b133;
  --plasmic-token-error-base-3: var(--token-MbnOSStnZDnT);
  --token-EqShir4P7SIg: #028e29;
  --plasmic-token-success-dark-1: var(--token-EqShir4P7SIg);
  --token-x4NXFbbgVbUZ: #016a1f;
  --plasmic-token-success-dark-2: var(--token-x4NXFbbgVbUZ);
  --token-SWMZ868jooKU: #5e3010;
  --plasmic-token-warning-dark-3: var(--token-SWMZ868jooKU);
  --token-Voy5psQNw7gW: #8e4919;
  --plasmic-token-warning-dark-2: var(--token-Voy5psQNw7gW);
  --token-QDTMMgB6ksA6: #bd6121;
  --plasmic-token-warning-dark-1: var(--token-QDTMMgB6ksA6);
  --token-tZxGrozCZCeN: #ec7929;
  --plasmic-token-warning-base: var(--token-tZxGrozCZCeN);
  --token-TnWpKByy-eo6: #f2a46e;
  --plasmic-token-warning-light-1: var(--token-TnWpKByy-eo6);
  --token-k7nQ27mZEu80: #f8cfb2;
  --plasmic-token-warning-light-2: var(--token-k7nQ27mZEu80);
  --token-cWMm-zddsLrg: #fefaf6;
  --plasmic-token-warning-light-3: var(--token-cWMm-zddsLrg);
  --token--El-Phff6Z_N: #ffffff;
  --plasmic-token-white: var(--token--El-Phff6Z_N);
  --token-x7CjPenhUvXI: #021300;
  --plasmic-token-black: var(--token-x7CjPenhUvXI);
  --token-_a6Ae1Qhkrw-: #0000005e;
  --plasmic-token-page-overlay-2: var(--token-_a6Ae1Qhkrw-);
  --token-KOaami1rCK4v: #c01574;
  --plasmic-token-pink-700: var(--token-KOaami1rCK4v);
  --token-nuh3thPD1xwf: #fdf2fa;
  --plasmic-token-pink-100: var(--token-nuh3thPD1xwf);
  --token-7oKJY4-8lP_d: #cd3737;
  --plasmic-token-error-base: var(--token-7oKJY4-8lP_d);
  --token-O14O2hFyM0uN: #fdf7f7;
  --plasmic-token-error-light-3: var(--token-O14O2hFyM0uN);
  --token-8nJy-yKFwYI-: #a0acfa;
  --plasmic-token-primary-light-2: var(--token-8nJy-yKFwYI-);
  --token-lDPGec4nu6um: #f8f9fe;
  --plasmic-token-primary-light-3: var(--token-lDPGec4nu6um);
  --token-oIf-L7h52nz1: #f2f2ff4a;
  --plasmic-token-primary-light-4: var(--token-oIf-L7h52nz1);
  --token-nFNMhsw6kKPB: 52px;
  --plasmic-token-h-1: var(--token-nFNMhsw6kKPB);
  --token-fXjVMrMVC7K0: 48px;
  --plasmic-token-h-2: var(--token-fXjVMrMVC7K0);
  --token-jqma8_8mSTIg: 40px;
  --plasmic-token-h-3: var(--token-jqma8_8mSTIg);
  --token-Vydg24yKmV_k: 32px;
  --plasmic-token-h-4: var(--token-Vydg24yKmV_k);
  --token-MboB1hqE1EnP: 28px;
  --plasmic-token-h-5: var(--token-MboB1hqE1EnP);
  --token-enworRt-j_n5: 24px;
  --plasmic-token-h-6: var(--token-enworRt-j_n5);
  --token-2gXvX9FBQKKD: 20px;
  --plasmic-token-paragraph-1: var(--token-2gXvX9FBQKKD);
  --token-B1MNs8CTdpnz: 16px;
  --plasmic-token-paragraph-2: var(--token-B1MNs8CTdpnz);
  --token-GSbkODrJM4xU: 14px;
  --plasmic-token-paragraph-3: var(--token-GSbkODrJM4xU);
  --token-DHS3cxWag_h5: 12px;
  --plasmic-token-paragraph-4: var(--token-DHS3cxWag_h5);
  --token-8h50ZX7ueGvU: #eaecf0;
  --plasmic-token-separator-colour: var(--token-8h50ZX7ueGvU);
  --token-5fevRKaPihAi: #f5fcf7;
  --plasmic-token-success-light-3: var(--token-5fevRKaPihAi);
  --token-LtqEBPAuewiz: #02b133;
  --plasmic-token-success-base: var(--token-LtqEBPAuewiz);
  --token-lj8ktVrj2j-i: #f5fcf7;
  --plasmic-token-success-light-3-2: var(--token-lj8ktVrj2j-i);
  --token-Y1NaQZE02eTp: #667085;
  --plasmic-token-grey-blue: var(--token-Y1NaQZE02eTp);
  --token-WZL--yHoOUve: #5925dc;
  --plasmic-token-primary-dark: var(--token-WZL--yHoOUve);
  --token-5-WcXyXqULiZ: #f4f3ff;
  --plasmic-token-purple-light: var(--token-5-WcXyXqULiZ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-yGV6tfcn6FEB_font-family: "Inter", sans-serif;
  --mixin-yGV6tfcn6FEB_font-size: 16px;
  --mixin-yGV6tfcn6FEB_font-weight: 400;
  --mixin-yGV6tfcn6FEB_font-style: normal;
  --mixin-yGV6tfcn6FEB_color: #535353;
  --mixin-yGV6tfcn6FEB_text-align: left;
  --mixin-yGV6tfcn6FEB_text-transform: none;
  --mixin-yGV6tfcn6FEB_line-height: 1.5;
  --mixin-yGV6tfcn6FEB_letter-spacing: normal;
  --mixin-yGV6tfcn6FEB_white-space: pre-wrap;
  --mixin-yGV6tfcn6FEB_user-select: text;
  --mixin-yGV6tfcn6FEB_text-decoration-line: none;
  --mixin-yGV6tfcn6FEB_text-overflow: clip;
  --mixin-7hNVFsQJuzMc_color: #000000;
  --mixin-7hNVFsQJuzMc_font-weight: 700;
  --mixin-7hNVFsQJuzMc_font-size: 64px;
  --mixin-7hNVFsQJuzMc_line-height: 1;
  --mixin-7hNVFsQJuzMc_letter-spacing: -1px;
  --mixin-7hNVFsQJuzMc_white-space: pre-wrap;
  --mixin-N1w2UDEhs6Hy_color: #000000;
  --mixin-N1w2UDEhs6Hy_font-size: 48px;
  --mixin-N1w2UDEhs6Hy_font-weight: 700;
  --mixin-N1w2UDEhs6Hy_letter-spacing: -0.5px;
  --mixin-N1w2UDEhs6Hy_line-height: 1.1;
  --mixin-N1w2UDEhs6Hy_white-space: pre-wrap;
  --mixin-BzzcuY7CuIfw_color: #0070f3;
  --mixin-BzzcuY7CuIfw_white-space: pre-wrap;
  --mixin-rH3dBnDLRh03_color: #000000;
  --mixin-rH3dBnDLRh03_font-size: 32px;
  --mixin-rH3dBnDLRh03_font-weight: 600;
  --mixin-rH3dBnDLRh03_line-height: 1.2;
  --mixin-rH3dBnDLRh03_white-space: pre-wrap;
  --mixin-EQmVBHHvV6bl_color: #000000;
  --mixin-EQmVBHHvV6bl_font-size: 24px;
  --mixin-EQmVBHHvV6bl_font-weight: 600;
  --mixin-EQmVBHHvV6bl_line-height: 1.3;
  --mixin-EQmVBHHvV6bl_white-space: pre-wrap;
  --mixin-978EbHs7thtS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-978EbHs7thtS_border-bottom-color: #dddddd;
  --mixin-978EbHs7thtS_border-bottom-style: solid;
  --mixin-978EbHs7thtS_border-bottom-width: 1px;
  --mixin-978EbHs7thtS_border-left-color: #dddddd;
  --mixin-978EbHs7thtS_border-left-style: solid;
  --mixin-978EbHs7thtS_border-left-width: 1px;
  --mixin-978EbHs7thtS_border-right-color: #dddddd;
  --mixin-978EbHs7thtS_border-right-style: solid;
  --mixin-978EbHs7thtS_border-right-width: 1px;
  --mixin-978EbHs7thtS_border-top-color: #dddddd;
  --mixin-978EbHs7thtS_border-top-style: solid;
  --mixin-978EbHs7thtS_border-top-width: 1px;
  --mixin-978EbHs7thtS_border-bottom-left-radius: 3px;
  --mixin-978EbHs7thtS_border-bottom-right-radius: 3px;
  --mixin-978EbHs7thtS_border-top-left-radius: 3px;
  --mixin-978EbHs7thtS_border-top-right-radius: 3px;
  --mixin-978EbHs7thtS_font-family: "Inconsolata";
  --mixin-978EbHs7thtS_padding-bottom: 1px;
  --mixin-978EbHs7thtS_padding-left: 4px;
  --mixin-978EbHs7thtS_padding-right: 4px;
  --mixin-978EbHs7thtS_padding-top: 1px;
  --mixin-978EbHs7thtS_white-space: pre-wrap;
  --mixin-AHcdEnIcr0ah_border-left-color: #dddddd;
  --mixin-AHcdEnIcr0ah_border-left-style: solid;
  --mixin-AHcdEnIcr0ah_border-left-width: 3px;
  --mixin-AHcdEnIcr0ah_color: #888888;
  --mixin-AHcdEnIcr0ah_padding-left: 10px;
  --mixin-AHcdEnIcr0ah_white-space: pre-wrap;
  --mixin-R_rxZj4rJNjn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-R_rxZj4rJNjn_border-bottom-color: #dddddd;
  --mixin-R_rxZj4rJNjn_border-bottom-style: solid;
  --mixin-R_rxZj4rJNjn_border-bottom-width: 1px;
  --mixin-R_rxZj4rJNjn_border-left-color: #dddddd;
  --mixin-R_rxZj4rJNjn_border-left-style: solid;
  --mixin-R_rxZj4rJNjn_border-left-width: 1px;
  --mixin-R_rxZj4rJNjn_border-right-color: #dddddd;
  --mixin-R_rxZj4rJNjn_border-right-style: solid;
  --mixin-R_rxZj4rJNjn_border-right-width: 1px;
  --mixin-R_rxZj4rJNjn_border-top-color: #dddddd;
  --mixin-R_rxZj4rJNjn_border-top-style: solid;
  --mixin-R_rxZj4rJNjn_border-top-width: 1px;
  --mixin-R_rxZj4rJNjn_border-bottom-left-radius: 3px;
  --mixin-R_rxZj4rJNjn_border-bottom-right-radius: 3px;
  --mixin-R_rxZj4rJNjn_border-top-left-radius: 3px;
  --mixin-R_rxZj4rJNjn_border-top-right-radius: 3px;
  --mixin-R_rxZj4rJNjn_font-family: "Inconsolata";
  --mixin-R_rxZj4rJNjn_padding-bottom: 3px;
  --mixin-R_rxZj4rJNjn_padding-left: 6px;
  --mixin-R_rxZj4rJNjn_padding-right: 6px;
  --mixin-R_rxZj4rJNjn_padding-top: 3px;
  --mixin-R_rxZj4rJNjn_white-space: pre-wrap;
  --mixin-6kBVWBhA1XDw_display: flex;
  --mixin-6kBVWBhA1XDw_flex-direction: column;
  --mixin-6kBVWBhA1XDw_align-items: stretch;
  --mixin-6kBVWBhA1XDw_justify-content: flex-start;
  --mixin-6kBVWBhA1XDw_list-style-position: outside;
  --mixin-6kBVWBhA1XDw_padding-left: 40px;
  --mixin-6kBVWBhA1XDw_position: relative;
  --mixin-6kBVWBhA1XDw_list-style-type: disc;
  --mixin-6kBVWBhA1XDw_white-space: pre-wrap;
  --mixin-ZB6iSwVeHNCi_display: flex;
  --mixin-ZB6iSwVeHNCi_flex-direction: column;
  --mixin-ZB6iSwVeHNCi_align-items: stretch;
  --mixin-ZB6iSwVeHNCi_justify-content: flex-start;
  --mixin-ZB6iSwVeHNCi_list-style-position: outside;
  --mixin-ZB6iSwVeHNCi_padding-left: 40px;
  --mixin-ZB6iSwVeHNCi_position: relative;
  --mixin-ZB6iSwVeHNCi_list-style-type: decimal;
  --mixin-ZB6iSwVeHNCi_white-space: pre-wrap;
  --mixin-7biAkxpRj84Y_color: #000000;
  --mixin-7biAkxpRj84Y_font-size: 20px;
  --mixin-7biAkxpRj84Y_font-weight: 600;
  --mixin-7biAkxpRj84Y_line-height: 1.5;
  --mixin-7biAkxpRj84Y_white-space: pre-wrap;
  --mixin-zBZm3K45Zv_v_color: #000000;
  --mixin-zBZm3K45Zv_v_font-size: 16px;
  --mixin-zBZm3K45Zv_v_font-weight: 600;
  --mixin-zBZm3K45Zv_v_line-height: 1.5;
  --mixin-zBZm3K45Zv_v_white-space: pre-wrap;
  --mixin-4foukiqUuIjS_color: #3291ff;
  --mixin-4foukiqUuIjS_white-space: pre-wrap;
  --mixin-CmUjZvS4Adl4_white-space: pre-wrap;
  --mixin-2eAHcYfuvauA_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-yGV6tfcn6FEB_font-family);
  font-size: var(--mixin-yGV6tfcn6FEB_font-size);
  font-weight: var(--mixin-yGV6tfcn6FEB_font-weight);
  font-style: var(--mixin-yGV6tfcn6FEB_font-style);
  color: var(--mixin-yGV6tfcn6FEB_color);
  text-align: var(--mixin-yGV6tfcn6FEB_text-align);
  text-transform: var(--mixin-yGV6tfcn6FEB_text-transform);
  line-height: var(--mixin-yGV6tfcn6FEB_line-height);
  letter-spacing: var(--mixin-yGV6tfcn6FEB_letter-spacing);
  white-space: var(--mixin-yGV6tfcn6FEB_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-7hNVFsQJuzMc_color);
  font-weight: var(--mixin-7hNVFsQJuzMc_font-weight);
  font-size: var(--mixin-7hNVFsQJuzMc_font-size);
  line-height: var(--mixin-7hNVFsQJuzMc_line-height);
  letter-spacing: var(--mixin-7hNVFsQJuzMc_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-N1w2UDEhs6Hy_color);
  font-size: var(--mixin-N1w2UDEhs6Hy_font-size);
  font-weight: var(--mixin-N1w2UDEhs6Hy_font-weight);
  letter-spacing: var(--mixin-N1w2UDEhs6Hy_letter-spacing);
  line-height: var(--mixin-N1w2UDEhs6Hy_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-BzzcuY7CuIfw_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-rH3dBnDLRh03_color);
  font-size: var(--mixin-rH3dBnDLRh03_font-size);
  font-weight: var(--mixin-rH3dBnDLRh03_font-weight);
  line-height: var(--mixin-rH3dBnDLRh03_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-EQmVBHHvV6bl_color);
  font-size: var(--mixin-EQmVBHHvV6bl_font-size);
  font-weight: var(--mixin-EQmVBHHvV6bl_font-weight);
  line-height: var(--mixin-EQmVBHHvV6bl_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-978EbHs7thtS_font-family);
  border-radius: var(--mixin-978EbHs7thtS_border-top-left-radius)
    var(--mixin-978EbHs7thtS_border-top-right-radius)
    var(--mixin-978EbHs7thtS_border-bottom-right-radius)
    var(--mixin-978EbHs7thtS_border-bottom-left-radius);
  padding: var(--mixin-978EbHs7thtS_padding-top)
    var(--mixin-978EbHs7thtS_padding-right)
    var(--mixin-978EbHs7thtS_padding-bottom)
    var(--mixin-978EbHs7thtS_padding-left);
  border-top: var(--mixin-978EbHs7thtS_border-top-width)
    var(--mixin-978EbHs7thtS_border-top-style)
    var(--mixin-978EbHs7thtS_border-top-color);
  border-right: var(--mixin-978EbHs7thtS_border-right-width)
    var(--mixin-978EbHs7thtS_border-right-style)
    var(--mixin-978EbHs7thtS_border-right-color);
  border-bottom: var(--mixin-978EbHs7thtS_border-bottom-width)
    var(--mixin-978EbHs7thtS_border-bottom-style)
    var(--mixin-978EbHs7thtS_border-bottom-color);
  border-left: var(--mixin-978EbHs7thtS_border-left-width)
    var(--mixin-978EbHs7thtS_border-left-style)
    var(--mixin-978EbHs7thtS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-AHcdEnIcr0ah_color);
  padding-left: var(--mixin-AHcdEnIcr0ah_padding-left);
  border-left: var(--mixin-AHcdEnIcr0ah_border-left-width)
    var(--mixin-AHcdEnIcr0ah_border-left-style)
    var(--mixin-AHcdEnIcr0ah_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-R_rxZj4rJNjn_font-family);
  border-radius: var(--mixin-R_rxZj4rJNjn_border-top-left-radius)
    var(--mixin-R_rxZj4rJNjn_border-top-right-radius)
    var(--mixin-R_rxZj4rJNjn_border-bottom-right-radius)
    var(--mixin-R_rxZj4rJNjn_border-bottom-left-radius);
  padding: var(--mixin-R_rxZj4rJNjn_padding-top)
    var(--mixin-R_rxZj4rJNjn_padding-right)
    var(--mixin-R_rxZj4rJNjn_padding-bottom)
    var(--mixin-R_rxZj4rJNjn_padding-left);
  border-top: var(--mixin-R_rxZj4rJNjn_border-top-width)
    var(--mixin-R_rxZj4rJNjn_border-top-style)
    var(--mixin-R_rxZj4rJNjn_border-top-color);
  border-right: var(--mixin-R_rxZj4rJNjn_border-right-width)
    var(--mixin-R_rxZj4rJNjn_border-right-style)
    var(--mixin-R_rxZj4rJNjn_border-right-color);
  border-bottom: var(--mixin-R_rxZj4rJNjn_border-bottom-width)
    var(--mixin-R_rxZj4rJNjn_border-bottom-style)
    var(--mixin-R_rxZj4rJNjn_border-bottom-color);
  border-left: var(--mixin-R_rxZj4rJNjn_border-left-width)
    var(--mixin-R_rxZj4rJNjn_border-left-style)
    var(--mixin-R_rxZj4rJNjn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6kBVWBhA1XDw_display);
  flex-direction: var(--mixin-6kBVWBhA1XDw_flex-direction);
  align-items: var(--mixin-6kBVWBhA1XDw_align-items);
  justify-content: var(--mixin-6kBVWBhA1XDw_justify-content);
  list-style-position: var(--mixin-6kBVWBhA1XDw_list-style-position);
  padding-left: var(--mixin-6kBVWBhA1XDw_padding-left);
  position: var(--mixin-6kBVWBhA1XDw_position);
  list-style-type: var(--mixin-6kBVWBhA1XDw_list-style-type);
  flex-column-gap: var(--mixin-6kBVWBhA1XDw_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ZB6iSwVeHNCi_display);
  flex-direction: var(--mixin-ZB6iSwVeHNCi_flex-direction);
  align-items: var(--mixin-ZB6iSwVeHNCi_align-items);
  justify-content: var(--mixin-ZB6iSwVeHNCi_justify-content);
  list-style-position: var(--mixin-ZB6iSwVeHNCi_list-style-position);
  padding-left: var(--mixin-ZB6iSwVeHNCi_padding-left);
  position: var(--mixin-ZB6iSwVeHNCi_position);
  list-style-type: var(--mixin-ZB6iSwVeHNCi_list-style-type);
  flex-column-gap: var(--mixin-ZB6iSwVeHNCi_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-7biAkxpRj84Y_color);
  font-size: var(--mixin-7biAkxpRj84Y_font-size);
  font-weight: var(--mixin-7biAkxpRj84Y_font-weight);
  line-height: var(--mixin-7biAkxpRj84Y_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-zBZm3K45Zv_v_color);
  font-size: var(--mixin-zBZm3K45Zv_v_font-size);
  font-weight: var(--mixin-zBZm3K45Zv_v_font-weight);
  line-height: var(--mixin-zBZm3K45Zv_v_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-4foukiqUuIjS_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
